/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Open Sans', sans-serif;
}

ul , a{
    text-decoration: none;
    list-style-type: none;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li{
    display: inline-block;
    padding: 20px 10px;
}

header a{
    color: black;
}

.blu_button a{
    padding: 10px;
    color: white;
    background-color: rgb(64, 139, 225);
}

/* main */


/* jumbo */

.jumbo .center{
    width: 90%; 
    margin: auto;
}

.jumbo{
    padding: 50px;


    background: linear-gradient(
        to top,
        rgb(255, 255, 255) 20%,
        rgb(196, 212, 241) 20% 80%,
        rgb(196, 212, 241)80%
      );

    /* background-color: rgb(196, 212, 241); */
}

.split{
    display: flex;
    flex-wrap: wrap;
}

.jumbo .container{
    width: 30%;
}

.jumbo img{
    max-width: 70%;
    min-width: 600px;
    aspect-ratio: 16/9;  
}

.jumbo h2{
    font-size: 60px;
    margin-bottom: 30px;
}

.jumbo .button{
    margin: 30px auto;
}

.fa-arrow-down{
    font-size: 50px;
    margin: 50px auto;
}

/* Piani */

.piani .center{
    width: 80%;
    margin: auto;
}

main h3{
    font-size: 35px;
    margin: 30px auto;
}

.radio{
    display: inline-block;
    margin-right: 40px;
}

.row{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.col{
   
    border: 1px solid rgb(0, 0, 0);
    width: calc((100% / 3) - 40px);

    /* debug */
    
    min-height:200px;
}

.tipo_piano{
    padding:15px;
    text-align: center;
    border-bottom:1px solid rgb(0, 0, 0); ;
}

.info_piani{
     padding: 20px; 
}

.info_piani ul li{
    display: flex;
}

.buy{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}



.info_piani span, .info_piani i, h4, .info_pian div , .info_pian li{
    margin: 20px;
}

.info_piani .blu_button{
    text-align: center;
    margin: 40px;
}

.price{
    font-weight: bold;
}

.fa-check{
    color:rgb(64, 139, 225) ;
}

.single{
    margin: 40px 0;
    border:1px solid black;
}